.ImageViewer {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
  }
  
  .ImageViewer--Zoomed {
    cursor: move;
  }
  
  .ImageViewer__Fill {
      visibility: hidden;
  }
  
  .ImageViewer__Image {
    position: absolute;
    user-select: none;
    height: auto;
    max-width: none;    
  }
  