@font-face {
  font-family: "Moderat";
  src: url("../../static/fonts/Moderat-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../static/fonts/Moderat-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/Moderat-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../../static/fonts/Moderat-Regular.woff")
      format("woff"); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "Moderat";
  font-weight: bold;
  src: url("../../static/fonts/Moderat-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../static/fonts/Moderat-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/Moderat-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../static/fonts/Moderat-Bold.woff")
      format("woff"); /* Pretty Modern Browsers */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Moderat", sans-serif;
  background-color: #ffffff;
}

::selection {
  background: #99a3c3;
}
::-moz-selection {
  background: #99a3c3;
}

h2 {
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.Page {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}

.ContentFooter {
  height: 50px;
}

.Main {
  width: 100%;
  height: 100%;
  max-width: 2000px;
  min-height: 500px;
  max-height: 1000px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.ContentFrame {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #000000;
  overflow: scroll;
}

.Content {
  width: 100%;
  height: 100%;
  position: relative;
}

.transition-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.transition-wrapper .transition-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.Page .Content {
  transition: transform 0.5s, opacity 0.5s;
}
.Page .ContentFooter {
  transition: opacity 0.5s;
}

.Page.transition-appear .Content {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.Page.transition-appear .ContentFooter {
  opacity: 0;
}

.Page.transition-appear.transition-appear-active .Content {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.Page.transition-appear.transition-appear-active .ContentFooter {
  opacity: 1;
}

.Page.transition-leave .Content {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.Page.transition-leave .ContentFooter {
  opacity: 1;
}

.Page.transition-leave .Header {
  opacity: 0;
}

.Page.transition-leave.transition-leave-active .Content {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.Page.transition-leave.transition-leave-active .ContentFooter {
  opacity: 0;
}

.CommercialPage {
  background-color: #fff;
  /*transition: background-color 0.3s ease-in-out;*/
}
.CommercialPage.transition-appear {
  background-color: transparent;
}
.CommercialPage.transition-appear-active {
  background-color: #fff;
}
.CommercialPage.transition-leave {
  background-color: #fff;
}
.CommercialPage.transition-leave-active {
  background-color: transparent;
}
